services:
  auth-server:
    build:
      context: .
      dockerfile: ./Dockerfile  # Path to your Dockerfile
      args:
        ASPNETCORE_ENVIRONMENT: Production  # Passed to Dockerfile during build
    image: ghcr.io/dapplesoft-ad/auth-server:latest
    environment:
      # ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_ENVIRONMENT: Production
      FrontendLoginUrl: https://auth.dapplesoft.com/login  # Login page of auth server
      IssuerUrl: https://authapi.dapplesoft.com # Auth server Backend Url
      AuthServer_AlwaysHTTPS: false
      Cors__AllowedOrigins__0: "http://localhost:4200"
      Cors__AllowedOrigins__1: "https://localhost:4200"
      Cors__AllowedOrigins__2: "http://localhost:40033"
      Cors__AllowedOrigins__3: "https://localhost:40003"
      Cors__AllowedOrigins__4: "http://auth.dapplesoft.com"
      Cors__AllowedOrigins__5: "https://auth.dapplesoft.com"
      Cors__AllowedOrigins__6: "http://authapi.dapplesoft.com"
      Cors__AllowedOrigins__7: "https://authapi.dapplesoft.com"
      KnownProxies__0: "127.0.0.1" # can be found from https://authapi.dapplesoft.com/remote-ip
      KnownProxies__1: "172.18.240.206"
      KnownProxies__2: "172.19.0.1"
      AlwaysRunSwagger: true