services:
  auth-server:
    image: ghcr.io/dapplesoft-ad/auth-server:latest
    container_name: auth-server
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development # for Development
      # - ASPNETCORE_ENVIRONMENT=Production # for Production
      - ASPNETCORE_URLS=http://+:8080;http://+:8081
      - ConnectionStrings__Database=Host=localhost;Port=5432;Database=authserver;Username=postgres;Password=pass1234
    networks:
      - auth-network
    restart: unless-stopped

  auth-server-frontend:
    image: ghcr.io/dapplesoft-ad/auth-server-frontend:latest
    container_name: auth-server-frontend
    ports:
      - "40003:4200"
    environment:
      - NODE_ENV=production
    networks:
      - auth-network
    restart: unless-stopped

networks:
  auth-network:
    driver: bridge
